*{
    padding:0;
    margin: 0;
    font-family: sans-serif
}
body{
    background:linear-gradient(#111,#222) ;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: red;
    position:absolute ;
    z-index: -1;
    clip-path:circle(40% at right 70%);
}
.container{
    width: 80%;
    height: 80%;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
nav .logo{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing:3px;
    font-weight: 700;
    
}

nav ul{
    width: 45%;
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    /* display: inline-block; */
    /* margin: 0 8px; */
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: rgba(255, 0, 0, 0.811);
}

.content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
    overflow:hidden;
    
}
.content .text{
    color: #fff;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.content .text p{
    font-size: 18px;
    line-height:25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.content .image{
    width: 40%;
}
.content .image img{
    width: 400px;
    
}

@media (min-width:950px) and (max-width:1150px){
    .content .image img{
        width: 330px;
    }
}
@media (max-width:950px){
    .content{
        /* display: flex; */
        flex-direction: column;
        justify-content:center;
    }
    .content .text,.content .image{
        width: 80%;
    }   

    nav{
        flex-direction: column;
        justify-content: center;
    }
    body::after{
        clip-path:circle(50% at bottom );
    }
    nav ul{
        width: 70%;
    }
}

